<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglib.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>CreationAuteur</servlet-name>
    <servlet-class>com.biblio.servlets.CreationAuteur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeAuteurs</servlet-name>
    <servlet-class>com.biblio.servlets.ListeAuteurs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionAuteur</servlet-name>
    <servlet-class>com.biblio.servlets.SuppressionAuteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationAuteur</servlet-name>
    <url-pattern>/creationAuteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeAuteurs</servlet-name>
    <url-pattern>/listeAuteurs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionAuteur</servlet-name>
    <url-pattern>/suppressionAuteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.biblio.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreationLivre</display-name>
    <servlet-name>CreationLivre</servlet-name>
    <servlet-class>com.biblio.servlets.CreationLivre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationLivre</servlet-name>
    <url-pattern>/CreationLivre</url-pattern>
  </servlet-mapping>
</web-app>